@model Gerador_De_Certificados.Models.Certificado
@{
    ViewData["Title"] = "Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Adicionando Bootstrap CSS via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>

    <div class='container-fluid mt-5'>
        <h1 class='text-danger text-center font-weight-bold'>Universidade de Programação</h1>
        <h3 class='sub-header text-center'>Certificado de Conclusão</h3>
        <div class='content text-center'>
            <p>
                Certificamos que <strong> @Model.Nome</strong>, <strong> @Model.Nacionalidade</strong>, natural do Estado de <strong> @Model.Estado</strong>, nascido em <strong> @Model.DataNascimento.ToString("dd/MM/yyyy")</strong>, RG <strong> @Model.Documento</strong>, concluiu em <strong> @Model.DataConclusao.ToString("dd/MM/yyyy")</strong> o curso de <strong> @Model.Curso</strong>, nível de especialização, com carga horária de <strong> @Model.CargaHoraria</strong> horas.
            </p>
            <p>
                Este certificado é concedido em conformidade com o artigo 44, inciso 3353, da Lei 9394/96, e com a Resolução 
                C.N.C./C.C.S. nº 01/07.
            </p>
        </div>
        <div class='date text-center'>São Paulo, <strong> @Model.DataEmissao.ToString("dd/MM/yyyy") </strong> </div>
        <div class='signatures text-start'>
            <div class='signature text-start'>
                <p class="border-bottom border-dark w-25"> Ass.  <strong>@Model.NomeAssinatura</strong></p>
                <p class="border-bottom border-dark w-25"> <strong>@Model.Cargo </strong></p>
            </div>            
        </div>
    </div>
</body>
</html>